{{ define "main" }}
<img src="img/chibi_lena.png" style="float: right; max-width: 270px">
<div class="introduction">
	<p>Hi! I'm Lena ✨</p>
	<p>I got a BSc in Computer Science and am a Web Developer, Game Programmer, Voice Actor and Video Essayist!</p>
	<p>Check out my <a href="/projects">projects</a>, and my <a href="assets/cv_en.pdf">CV</a> if you want.</p>
	<p>Email me via <a href="mailto:lena@techromancer.club">lena@techromancer.club</a> or find other ways to <a href="/contact">contact me here</a>!</p>
</div>





<!--<div class="posts">
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}
  {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

  {{ range $paginator.Pages }}
  <div class="post on-list">
    <h1 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
    <div class="post-meta">
      <span class="post-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
      {{ with .Params.Author }}<span class="post-author">::
        {{ . }}</span>{{ end }}
    </div>

    {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
        {{- . -}}
      </a>&nbsp;
      {{ end }}
    </span>
    {{ end }}

    {{ with .Params.Cover }}
    <img src="{{ . | absURL }}" class="post-cover" />
    {{ end }}

    <div class="post-content">
      {{ if .Params.showFullContent }}
      {{ .Content | markdownify }}
      {{ else if .Description }}
      {{ .Description | markdownify }}
      {{ else }}
      {{ if .Truncated }}
      {{ .Summary | markdownify }}
      {{ end }}
      {{ end }}
    </div>

    {{ if not .Params.showFullContent }}
    <div>
      <a class="read-more button"
        href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ partial "pagination.html" . }}
</div>
-->
{{ end }}
