{{ define "main" }}
<div class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
  <div class="post-meta">
      {{ if .Params.Date }}
    <span class="post-date">
      {{ .Date.Format "2006-01-02" }}
    </span>
    {{ end }}
    {{ with .Params.Author }}
    <span class="post-author">::
      {{ . }}
    </span>
    {{ end }}
  </div>

  {{ if .Params.tags }}
  <span class="post-tags">
    {{ range .Params.tags }}
    #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{ . }}</a>&nbsp;
    {{ end }}
  </span>
  {{ end }}

  {{ with .Params.Cover }}
  <img src="{{ . | absURL }}" class="post-cover" />
  {{ end }}

  <div class="post-content">
    {{- with .Content -}}
      <div>
        {{ . | replaceRE "(<h[1-9] id=\"([^\"]+)\".+)(</h[1-9]+>)" `${1}<a href="#${2}" class="hanchor" ariaLabel="Anchor">&#8983;</a> ${3}` | safeHTML }}
      </div>
    {{- end -}}
  </div>
  <!--
  {{ if or .NextInSection .PrevInSection }}
  <div class="pagination">
    <div class="pagination__title">
      <span
        class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts }}</span>
      <hr />
    </div>
    <div class="pagination__buttons">
      {{ if .NextInSection }}
      <span class="button previous">
        <a href="{{ .NextInSection.Permalink }}">
          <span class="button__icon">←</span>
          <span class="button__text">{{ .NextInSection.Title }}</span>
        </a>
      </span>
      {{ end }}
      {{ if .PrevInSection }}
      <span class="button next">
        <a href="{{ .PrevInSection.Permalink }}">
          <span class="button__text">{{ .PrevInSection.Title }}</span>
          <span class="button__icon">→</span>
        </a>
      </span>
      {{ end }}
    </div>
  </div>
  {{ end }}
  -->

  {{ partial "comments.html" . }}
</div>
{{ end }}
